In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-09-19 21:18:02,-21.2000,-175.2000,75.36,78,20,11.50
1,1,Goundam,ML,2021-09-19 21:18:03,16.4145,-3.6708,90.59,42,46,15.10
2,2,Busselton,AU,2021-09-19 21:18:03,-33.6500,115.3333,47.05,81,0,11.12
3,3,Esperance,AU,2021-09-19 21:18:04,-33.8667,121.9000,53.44,61,80,12.37
4,4,Dikson,RU,2021-09-19 21:18:04,73.5069,80.5464,36.01,79,100,18.25

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-09-19 21:18:02,-21.2000,-175.2000,75.36,78,20,11.50
5,5,Trincomalee,LK,2021-09-19 21:18:05,8.5711,81.2335,81.09,81,97,7.56
9,9,Namatanai,PG,2021-09-19 21:18:06,-3.6667,152.4333,79.95,78,66,3.58
10,10,Baripada,IN,2021-09-19 21:18:07,21.9350,86.7214,78.04,88,100,0.85
12,12,San Policarpo,PH,2021-09-19 21:18:07,12.1791,125.5072,80.31,81,95,2.95
18,18,Tautira,PF,2021-09-19 21:18:10,-17.7333,-149.1500,80.62,70,48,18.37
19,19,Kloulklubed,PW,2021-09-19 21:18:10,7.0419,134.2556,83.37,70,88,10.94
20,20,Pacific Grove,US,2021-09-19 21:14:47,36.6177,-121.9166,80.62,68,1,5.99
27,27,Mabaruma,GY,2021-09-19 21:18:13,8.2000,-59.7833,79.70,77,86,4.81
28,28,Salalah,OM,2021-09-19 21:18:15,17.0151,54.0924,80.69,89,75,6.91

In [11]:
# Determine if there are any null values.
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0           Vaini      TO     75.36 -21.2000 -175.2000
5     Trincomalee      LK     81.09   8.5711   81.2335
9       Namatanai      PG     79.95  -3.6667  152.4333
10       Baripada      IN     78.04  21.9350   86.7214
12  San Policarpo      PH     80.31  12.1791  125.5072
18        Tautira      PF     80.62 -17.7333 -149.1500
19    Kloulklubed      PW     83.37   7.0419  134.2556
20  Pacific Grove      US     80.62  36.6177 -121.9166
27       Mabaruma      GY     79.70   8.2000  -59.7833
28        Salalah      OM     80.69  17.0151   54.0924

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
5,Trincomalee,LK,81.09,8.5711,81.2335,Welcombe Hotel
9,Namatanai,PG,79.95,-3.6667,152.4333,Seagulls Inn Namatani
10,Baripada,IN,78.04,21.9350,86.7214,Aparna Hotel
12,San Policarpo,PH,80.31,12.1791,125.5072,Manong Aklan Resort
...,...,...,...,...,...,...
534,San Cristobal,VE,78.98,7.7669,-72.2250,Posada Villaven C.A.
543,Singaraja,ID,77.05,-8.1120,115.0882,Puri Bagus Lovina Resort
544,Vanimo,PG,77.31,-2.6741,141.3028,Vahmoneh Lodge Vanimo
549,Cheyenne,US,82.85,41.1400,-104.8203,The Historic Plains Hotel & Restaurant
550,Greeneville,US,80.35,36.1632,-82.8310,General Morgan Inn and Conference Center

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))